*{
  margin: 0;
}

.main{
  display: flex;
  height: 54rem;
  font-family: Fira Sans Condensed;
}

/*Logo section*/
.logo-container{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-image: url("vr-background.avif");
  background-size:180%;
  background-position: 70%;
}

#img-logo-container {
  background-color: rgb(204, 0, 255);
}

#img-logo-container img{
  opacity: 1;
  width: 100px;
}

.logo-name{
  background-color: black;
  opacity: 0.75;
  color: azure;
  margin-top: 60%;
  height: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*General Style for Text, Form and create acount Section*/
#text,
#form,
#button-container{
  /*height: 50%;*/
  padding-left: 5%;
}

.hero{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*Text Section*/
#text{ 
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text-main{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
}

#text-call{
  margin-top: 30px;
}

/*Form section*/

#form-background{
  background-color: rgb(238, 169, 255);
}

#name,
#contact,
#password{
  display: flex;
}

input{
  border: 1px solid rgb(77, 77, 77);
  border-radius: 3px;
}

input:focus{
  outline: none;
  border: 1px solid blueviolet;
}

/*button*/

#button-container{
  display: flex;
  flex-direction: column;
}

#button-sign-up{
  width: 9%;
  color: white;
  background-color: rgb(76, 2, 142);
  border: 1px solid blue;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px;
}

#button-sign-up:hover{
  background-color: white;
  color: rgb(76,2,142);
}